body {
    margin: 25px 50px;
    background-color: #303030;
    color: #f1f1f1;
}

main {
    font-size: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 16px;
}

a {
    color: lightblue;
}
