@font-face {
    font-family: determination;
    src: url(../fonts/determination.ttf);
}

body {
    background-color: black;
    color: #f0f0f0;
    margin: 0;
}

header {
    background-color: black;
    padding: 16px 0;
}

header h1 {
    font-family: determination, sans-serif;
    font-size: 48px;
    padding: 0 32px;
    margin: 0;
    display: inline-block;
}

header a {
    color: white;
    text-decoration: none;
}

nav {
    display: inline-block;
    margin-left: 22px;
}

nav ul {
    list-style: none;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
}

nav ul li a {
    color: #b0b0b0;
    font-family: determination, sans-serif;
    display: inline-block;
    transition: color 0.25s;
}

nav ul li a:hover {
    color: white;
    transition: color 0.25s;
}

.active a {
    font-weight: bold;
    color: white;
}

.background {
    background-color: #1e1e1e;
}

main {
    width: 50vw;
    margin: auto;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    font-size: 20px;
    line-height: 1.5;
}

main ol {
    font-size: 20px;
}

main a {
    text-decoration: none;
    color: skyblue;
}

main a:hover {
    text-decoration: none;
    color: darkcyan;
}

footer {
    text-align: center;
}
